.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
    height: 350px;
}

.ip_btn {
    border: none;
    color: white;
    background-color: red;
    border-radius: 50px;
    width: 500px;
    height: 100px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

